@import '../../../styles/variables';

.categories {
  display: flex;
  flex-wrap: wrap;

  & > *:nth-child(odd) {
    background-color: $color-blue-2;
  }

  & > * {
    flex: 1;
    flex-basis: calc((#{$bp-4} - 100%) * 999);
  }
}
