@import '../../styles/variables';

.content {
  display: flex;
  flex-direction: column;
  gap: calc(2vw);

  border: $border;

  @include screen($bp-4) {
    gap: 0;
  }

  section {
    border: inherit;
  }
}
