@import '../../styles/variables';

.content {
  grid-row: content-start / content-end;
  grid-column: content-start / content-end;

  display: flex;
  flex-direction: column;
  gap: calc( 2vw);

  border: $border;

  @include screen($bp-4) {
    margin-top: 0;
    gap: 0;
  }

  section {
    border: inherit;
  }
}
