@import '../../styles/variables';

.footer {
  grid-row: footer-start / footer-end;
  grid-column: content-start / content-end;

  display: flex;
  flex-wrap: wrap;
  gap: calc(18px + 5vw);

  color: $color-white;
  background-color: $color-primary;
  padding: calc(5px + 2.5vw);

  & > * {
    flex-grow: 1;
    flex-basis: calc((#{$bp-4} - 100%) * 999);
  }
}

.logo {
  margin-bottom: -30px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: calc(15px + 3vw);

  &__contact-links {
    display: flex;
    flex-direction: column;
    gap: calc(20px + 2vw);

    li > a {
      display: flex;

      align-items: center;
      gap: calc(12px + 1vw);

      font-size: 1.2rem;
    }
  }

  &__text {
    font-size: 1rem;
  }
}

.icon {
  font-size: calc(20px + 0.4vw);
}

.categories {
  display: flex;
  flex-direction: column;
  gap: calc(18px + 2vw);
  font-size: 1.1rem;

  &__title {
    align-self: flex-start;
  }

  &__links {
    display: flex;

    flex-direction: column;
    gap: calc(8px + 1.5vw);
  }

  li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li > a::after {
    content: '';
    $size: 12px;
    width: $size;
    height: $size;
    background-color: currentColor;
    border-radius: 50%;
  }
}
