@import '../../styles/variables';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $color-primary;
  border-top: 5px solid $color-blue-1;
  padding: 0 0.8vw;
}

.links {
  display: flex;

  font-size: 1.15rem;
  font-weight: 600;
  color: $color-white;

  a {
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 13px calc(6px + 0.7vw);
    cursor: pointer;

    &:hover {
      color: $color-primary;
      background-color: $color-white;
    }

    span {
      font-size: 0.85rem;
    }
  }
}

.icon {
  font-size: calc(15px + 1vw);
  color: $color-white;
}
