@import '../../../styles/variables';

.section {
  display: flex;
  flex-direction: column;
  gap: calc(5px + 3vw);
  padding: 2vw;
  background-color: $color-grey-2;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  gap: calc(20px + 2vw);

  & > * {
    display: grid;
    gap: inherit;
    grid-template-columns: repeat(2, 1fr);

    flex-grow: 1;
    flex-basis: calc((#{$bp-4} - 100%) * 999);
  }
}

.title {
  font-size: 2rem;
  font-weight: 400;

  a {
    transition: all 0.2s;
  }

  a:hover {
    color: $color-link-hover;
  }
}
