////////////////
/// Colors
////////////////

$color-primary: black;
$color-secondary: red;

$color-grey-1: grey;
$color-white: white;
$color-black: black;
$color-blue: blue;

////////////////
/// Breakpoints
////////////////

$bp-1: 1000px;
$bp-2: 1000px;
$bp-3: 1000px;
$bp-4: 1000px;
$bp-5: 1000px;
