////////////////
/// Project Resets
////////////////

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

//////////////////////////////////
/// Element Resets + Default Stylings
//////////////////////////////////

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  border: none;
  background-color: transparent;
}

/////////////////
/// Site Grid Setup
/////////////////

#__next {
  display: grid;
  grid-template-columns: [page-start] 20rem [content-end] 1fr [content-start] 20rem [page-end];
  grid-template-rows: [navigation-start] min-content [navigation-end content-start] min-content [content-end footer-start] min-content [footer-end];
}
