@import './variables';

////////////////
/// Project Resets
////////////////
html,
body {
  font-family: 'Open Sans', arial, sans-serif;
}

html {
  font-size: 14px;
  @include screen(bp-2){
    font-size: 13px;
  }
  @include screen(bp-3){
    font-size: 11px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//////////////////////////////////
/// Element Resets + Default Stylings
//////////////////////////////////

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  border: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

input {
  border: none;
  border-radius: none;
  outline: none;
  line-height: 1.3;
  padding: 3px;
  font-family: inherit;
}

/////////////////
/// Site Grid Setup
/////////////////

#__next {
  display: grid;
  grid-template-columns: [page-start] 10vw [content-end] 1fr [content-start] 10vw [page-end];
  grid-template-rows: [navigation-start] min-content [navigation-end content-start] min-content [content-end footer-start] min-content [footer-end];
  
  @include screen($bp-2) {
    grid-template-columns: [page-start] 4vw [content-end] 1fr [content-start] 4vw [page-end];
  }

  @include screen($bp-3) {
    grid-template-columns: [page-start] 0 [content-end] 1fr [content-start] 0 [page-end];
  }
}
